body {
    margin: 0 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    height: 210px;
    border: 1px solid black;
}

.box{
    /* border: 1px solid black; */
    flex: 0 0 6.25%;
    height: 6.25%;
}